<mat-card class="example-card" >
  <form [formGroup]="_tripForm" (ngSubmit)="submitJourneyDetails()">
    <mat-card-header>
      <mat-card-title style="font-weight: bolder;">Trip Organizer</mat-card-title>
      <mat-card-subtitle>Plan Your Trip.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <!-- journeyType -->
      <div class="trip-type-wrapper">
        <button (click)="setTripType('ONE_WAY')" mat-button mat-stroked-button color="primary">One Way</button>
        <button (click)="setTripType('ROUND_TRIP')" mat-button mat-stroked-button color="primary">Round Trip</button>
        <button (click)="setTripType('MULTI_CITY')" mat-button mat-stroked-button color="primary">Multy City</button>
      </div>



      <!-- goingTo -->
      <mat-form-field class="route-wrapper">
        <input matInput placeholder="From" aria-label="State" [matAutocomplete]="auto" formControlName="departFrom">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let place of filteredStates" [value]="place.description">
            <span>{{place.description}}</span> |
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- departFrom -->
      <mat-form-field class="route-wrapper">
        <input matInput placeholder="Going To" aria-label="State" [matAutocomplete]="auto" formControlName="goingTo" (input)="getfilterStates($event.target.value)">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let state of filteredStates" [value]="state.description">
            <span>{{state.description}}</span> |
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- departDate -->
      <mat-form-field>
        <input matInput [min]="todayDate" [matDatepicker]="picker1" placeholder="Depart Date"
          formControlName="departDate" (dateChange)="dateChanged($event)">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <!-- returnDate -->
      <mat-form-field>
        <input matInput [min]="fromDate" [matDatepicker]="picker2" placeholder="Return Date"
          formControlName="returnDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker calendarLabel="" #picker2></mat-datepicker>
      </mat-form-field>



    </mat-card-content>

    <mat-card-actions>
      <button type="submit" mat-button>Search</button>
    </mat-card-actions>

  </form>
</mat-card>
