<div id="convinience-page">
  <section>
    <mat-card class="convinience-details">
      <img src="assets/images/car-asset.png" alt="" srcset="">
      <mat-divider [vertical]="true"></mat-divider>
      <div>
        Car: MARUTI Suzuki
        In Service: XYZ
      </div>
    </mat-card>
    <br>
    <mat-divider></mat-divider>
    <br>
  </section>
  <section class="convinience-list">
    <article>
      <div class="convinience-list-wrapper" *ngFor="let convinience of conviniences">

        <div class="convinience-list-card">
          <i class="material-icons driver-icon">face</i>
          <div class="driver-details">
            <p>Vehicle: {{convinience.cType}}</p>
            <p>Driver Name: {{convinience.cDriverDetails.fullName}}</p>
            <p>Languages: {{(convinience.cDriverDetails.language || ['Not Available']).join(', ')}}</p>
          </div>
        </div>

        <div class="fare">
          Fare: {{convinience.cDriverDetails.calculatedFare}}
        </div>

      </div>
    </article>
    <!-- filter -->
    <article class="convinience-utilities">
      filters:
      <div>
        <mat-form-field>
          <mat-label>Speaks:</mat-label>
          <mat-select>
            <mat-option *ngFor="let lang of filters.languages" [value]="lang">
              {{lang}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </article>
  </section>
  <section class="submit">
    <button color="accent">Book</button>
  </section>
</div>
