<div id="payment-page">
  <header>
    <h1>Payment Page</h1>
  </header>
  <section class="payment-forms">
    <article class="payment-mode-wrapper">
      <div class="card-wrapper">
        <span class="card-icon">
          <i class="material-icons">
            credit_card
          </i>
        </span>
        <span class="card-number">
          {{ _paymentForm?.controls?.cardNumber?.value || 'XXXX-XXXX-XXXX-XXXX'}}
        </span>
        <span class="card-cvv">
          {{ _paymentForm?.controls?.cvv?.value || 'XXX'}}
        </span>
      </div>
    </article>
    <article class="payment-mode-form">
      <form [formGroup]="_paymentForm">
          <!-- cvv -->
          <!-- cardNumber -->
          <!-- expiryDate -->
          <!-- transactionAmount -->
          <div class="ab-card">
              <!-- nameOnCard -->
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Name on card." formControlName="nameOnCard">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="XXXX-XXXX-XXXX-XXXX" formControlName="cardNumber">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <input matInput maxlength=3 placeholder="CVV/CVV2" formControlName="cvv">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Valid Till" maxlength=7 formControlName="expiryDate" (keydown)="_validTill($event)" >
              </mat-form-field>
              <div class="fare-box">
                <label>Amount:</label>
                <span class='final-fare-card'>{{_paymentForm?.controls?.transactionAmount?.value}}</span>
              </div>
          </div>
      </form>
    </article>
  </section>
  <section class="payment-action">
      <button mat-stroked-button color="primary">Pay</button>
  </section>
</div>
