<div id="trip-summary-page">
  <header>
    <h1>Final Step</h1>
  </header>
  <section class="trip-summary-wrapper">
    <article class="trip-info-wrapper">
        <div>
            <h3 class="label">Name:</h3>
            <span class="value">
              Abhishek Mittal
            </span>
          </div>
          <div>
              <h3 class="label">Number:</h3>
              <span class="value">
                Abhishek Mittal
              </span>
          </div>
          <div>
              <h3 class="label">Email:</h3>
              <span class="value">
                Abhishek Mittal
              </span>
          </div>
          <div>
              <h3 class="label">Journey Date:</h3>
              <span class="value">
                  10 Nov
              </span>
          </div>
          <div>
              <h3 class="label">Return Date:</h3>
              <span class="value">
                  12 Nov
              </span>
          </div>
          <div>
              <h3 class="label">From:</h3>
              <span class="value">
                  SSk
              </span>

          </div>
          <div>
              <h3 class="label">To:</h3>
              <span class="value">
                  XYZ
              </span>
          </div>
          <div>
              <h3 class="label">Fare:</h3>
              <span class="value">
                  100 rupees
              </span>

          </div>
    </article>
  </section>
  <section class="trip-summary-action">
      <button mat-raised-button color="accent">Pay</button>
  </section>
</div>
