#trip-summary-page {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 24% auto 20%;
  padding: 8px 10px;
  grid-gap: 10px;

  header {

  }

  section.trip-summary-wrapper{
    display: flex;
    justify-content: space-evenly;
    .trip-info-wrapper {
      padding: 2px 4px;
    }
  }
}
